<section class="text-center">

    <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="username" name="Username" id="inputUsername" class="form-control"
                required="required">
        </div>
    </div>
    <br><br>
    <div class="form-group">
        <label for="inputpassword" class="col-sm-2 control-label">password:</label>
        <div class="col-sm-10">
            <input ng-model="password" type="password" name="password" id="input" class="form-control"
                required="required">
        </div>
    </div>

    <button type="button" ng-click="loginAction()"  class="btn  text-center btn-lg btn-success">LOGIN</button>








</section>